@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,500;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charis+SIL:ital@1&display=swap');
@import "tailwindcss";

@theme {
    --font-ibm: "IBM Plex Serif", sans-serif; 
}