body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Corner elements (positioning for top-left, top-right, bottom-left, bottom-right) */
.corner {
    position: absolute;
    margin: 1.5rem 1.75rem;
}

.top-left {
    top: 0;
    left: 0;
}

.top-right {
    top: 0;
    right: 0;
}

.bottom-left {
    bottom: 0;
    left: 0;
}

.bottom-right {
    bottom: 0;
    right: 0;
}

/* Centered quote */
.quote {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ibm-plex-serif-regular {
    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.baskervville-medium {
    font-family: "Baskervville", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.fredericka-the-great-regular {
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
}

.charis-sil-regular-italic {
  font-family: "Charis SIL", serif;
  font-weight: 400;
  font-style: italic;
}

.svg-container {
  position: fixed; 
  top: -20%;
  left: -20%;
  width: 140%;
  height: 140%;
  z-index: -1;
  overflow: hidden;
  }